.reveal :is(h1, h2, h3, h4, h5, h6) {
  text-transform: none;
  color: black;
}

.reveal {
  color: black;
}

.reveal strong {
  color: blue;
}

.reveal ul {
  padding-left: 24px;
}

.reveal a {
  blue !important;
  text-decoration: underline !important;
}

body {
  background-color: lavender;
}
