.reveal
  h1
    text-transform: none
  h2
    text-transform: none
  h3
    text-transform: none
    font-size: 80%
    margin-bottom: 3%
  h4
    text-transform: none
    font-size: 60%
  h5
    text-transform: none
    font-size: 40%
  pre
    font-size: 160%
    line-height: 160%
    border: solid 2px silver
  code
    border: solid 2px silver
    padding: 10px
    margin: 10px

.profile
  display: flex;
  flex-direction: row;
