body {
    background-image: url("background.png");
}

.reveal h1 {
    text-transform: none;
}

.reveal h2 {
    text-transform: none;
}

.reveal h3 {
    text-transform: none;
    font-size: 80%;
    margin-bottom: 10%;
    text-decoration: underline;
}

.reveal strong {
    color: #00FF00;
}

.reveal ol {
    padding-left: 24px;
}

.reveal ul {
    padding-left: 24px;
}

.reveal {
    font-size: 280%;
}

.reveal code {
    font-size: 160%;
    line-height: 160%;
    border: solid 2px silver;
}
